
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg); 
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: -9cm -15cm, 15cm  9cm; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.card {
  background-color: white;
  width: 360px; 
  height: 400px;
  border-radius: 10px;
  position: relative; 
}
.pattern-card {
  width: 100%; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.image-victor {
  position: relative; 
  display: block;
  margin: 0 auto;
  z-index: 2;
  bottom: 55px;
  border-radius: 50%; 
  border: white 5px solid; 
  margin-bottom: 20px; 
}


.fnt-color-fw{
  font-size: 18px; 
  color: hsl(229, 23%, 23%); 
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
}

.light-fnt-color {
  color: hsl(0, 0%, 59%); 
  font-weight: 400; 
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  
}

.age {
  font-size: 18px; 
  margin-left: 5px;
}

.card-info-section {
  position: relative; 
  bottom: 50px;
}

.city-name {
  border-bottom: 1px solid hsl(0, 0%, 59%);
  margin-top: 12px;
  padding-bottom: 30px;
}

.card-bottom-section {
position: relative; 
bottom: 50px;
}

.stats {
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.stats-list {
  padding-bottom: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
