
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.card {
  background-color: white;
  width: 351px; 
  height: 371px;
  border-radius: 10px;
  position: relative; 
}
.pattern-card {
  width: 100%; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.image-victor {
  position: relative; 
  display: block;
  margin: 0 auto;
  z-index: 2;
  bottom: 55px;
  border-radius: 50%; 
  border: white 5px solid; 
  margin-bottom: 20px; 
}

.font {
  font-size: 18px;
  color: hsl(227, 10%, 46%); 
}

.name {
  color: hsl(229, 23%, 23%); 
}

.main-title {
  text-align: center;
}

.city-name {
  border-bottom: 1px solid grey;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
